doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title О нас
        link(rel="stylesheet", href="./css/style.css")
    body
        main.n-about-us.n-main
            section.n-about-us__top
                .n-main__inner
                    .n-breadcrumbs
                        ul.n-breadcrumbs__list
                            li.n-breadcrumbs__item
                                a.n-breadcrumbs__link(href="#") Главная
                            li.n-breadcrumbs__item
                                span.n-breadcrumbs__link О нас
                    
                    h2.n-about-us__title.n-about-us__title--page.n-about-us__block.n-about-us__block--top--1 Наши технологии и принципы работы

                    .n-about-us__top-row.n-about-us__block.n-about-us__block--top--2
                        .n-about-us__top-col
                            p.n-about-us__text--top--1
                                span.n-about-us__text--medium
                                    |Группа компаний #[span.n-about-us__text--green Clever bros.] — 
                                br
                                |российский интегратор, специализирующийся на предоставлении сервисов для бизнеса 
                                br
                                |в области ИТ.
                        .n-about-us__top-col
                            p.n-about-us__text--top--2
                                |#[span.n-about-us__text.n-about-us__text--medium.n-about-us__text--italic Наша цель] — дать возможность нашим клиентам снять с себя заботы 
                                br
                                |об офисном ИТ–хозяйстве 
                                br
                                |и сосредоточиться на бизнесе.

                    .n-about-us__top-row.n-about-us__block.n-about-us__block--top--3
                        .n-about-us__top-col
                            p.n-about-us__text--top--3
                                |Технологично 
                                br
                                |Экономично 
                                br
                                |Экологично
                        .n-about-us__top-col.n-about-us__top-col--dash
                            p.n-about-us__text--top--4
                                |Clever bros. постоянно ищет способ #[span.n-about-us__text.n-about-us__text--medium.n-about-us__text--italic минимизировать] свои #[span.n-about-us__text.n-about-us__text--medium.n-about-us__text--italic издержки]: финансовые, трудовые, временные. Бережливое отношение как внутри компании, так и за ее пределами. 
                                br
                                |Все продукты Clever bros. нацелены на #[span.n-about-us__text.n-about-us__text--medium.n-about-us__text--italic экономию ресурсов наших клиентов, нашего заказчика.]

                    .n-quote.n-about-us__block.n-about-us__block--top--4
                        .n-quote__inner
                            .n-quote__content
                                blockquote.n-quote__quote.n-quote__quote--first
                                    |Экономия — способ ведения хозяйства по принципу бережливости, минимизации расхода ресурсов, ресурсосбережения.
                                p.n-quote__sourse
                                    |Источник: Википедия

                    h2.n-about-us__title.n-about-us__block.n-about-us__block--top--5 Технологично

                    .n-quote.n-about-us__block.n-about-us__block--top--6
                        .n-quote__inner
                            .n-quote__content
                                blockquote.n-quote__quote.n-quote__quote--second
                                    |Технология (от др.-греч. τέχνη — искусство, мастерство, умение; 
                                    br
                                    |λόγος — «слово», «мысль», «смысл», «понятие») — совокупность методов и инструментов для достижения желаемого результата; в широком смысле — применение научного знания для решения практических задач
                                p.n-quote__sourse.card__sourse--second
                                    |Источник: Википедия
                
                    h3.section-title.n-about-us__block--top--7 Технологии в развитии Clever bros.

                    .n-about-us__block--top--8
                        ul.n-about-us__top-list
                            il.n-about-us__top-item
                                figure.n-about-us__top-image
                                    img.n-about-us__top-img(src="./img/top-1.svg", alt="")
                                p.n-about-us__top-desc
                                    |Процессный поиск людей, их обучение. Совершенствование знаний и процессов
                            il.n-about-us__top-item
                                figure.n-about-us__top-image
                                    img.n-about-us__top-img(src="./img/top-2.svg", alt="")
                                p.n-about-us__top-desc
                                    |Технология в производстве: от восстановления картриджей до транспортной логистики
                            il.n-about-us__top-item
                                figure.n-about-us__top-image
                                    img.n-about-us__top-img(src="./img/top-3.svg", alt="")
                                p.n-about-us__top-desc
                                    |Технология в продажах: от преодоления секретарского барьера до интернет–продвижения
                            il.n-about-us__top-item.n-about-us__top-item--break
                                figure.n-about-us__top-image
                                    img.n-about-us__top-img(src="./img/top-4.svg", alt="")
                                p.n-about-us__top-desc
                                    |Технология в развитии клиентов: от формирования прайс-листа до бесконечного набора предложений.
                            il.n-about-us__top-item
                                figure.n-about-us__top-image
                                    img.n-about-us__top-img(src="./img/top-5.svg", alt="")
                                p.n-about-us__top-desc
                                    |Создание новых каналов и инструментов продаж. Создание и развитие продуктов                
            section.n-about-us__mid
                .n-main__inner
                    h3.section-title Технологии много в ERP СВА
                    
                    .n-about-us__mid-row
                        figure.n-about-us__mid-image
                            img.n-about-us__mid-img(src="./img/mid.png", alt="")
                        ul.n-about-us__mid-list
                            li.n-about-us__mid-item
                                |Все процессы: от создания клиента до глубоких аналитических отчетов
                            li.n-about-us__mid-item
                                |Экран логиста и Мобильное приложение водителя, инженера
                            li.n-about-us__mid-item
                                |14 лет развития программы СВА от Carabi до Clever Bros. Assistant
                            li.n-about-us__mid-item
                                |Личный кабинет клиента
                            li.n-about-us__mid-item
                                |Личный кабинет партнера
                            li.n-about-us__mid-item
                                |Расчет зарплаты, управленческий учет, план продаж
                            li.n-about-us__mid-item
                                |Учет покопийного обслуживания: расчет цены копии
                            li.n-about-us__mid-item
                                |Автоматизация системы планирования и бюджетирования
            section.n-about-us__bottom
                .n-main__inner
                    h3.section-title Мы создаем технологичные продукты
                    
                    ul.n-about-us__bottom-list.n-about-us__block.n-about-us__block--bottom--1
                        li.n-about-us__bottom-list-item
                            article.n-card
                                .n-card__photo-wrapper
                                    figure.n-card__photo
                                        img.n-card__photo-img(src="./img/card-2.jpg", alt="")
                                h6.n-card__title Покопийное обслуживание
                                p.n-card__desc Мы стояли у истоков этого продукта
                        li.n-about-us__bottom-list-item
                            article.n-card
                                figure.n-card__image
                                    img.n-card__image-img(src="./img/card-image-1.png", alt="")
                                h6.n-card__title CleverPrint
                                p.n-card__desc Умная печать
                        li.n-about-us__bottom-list-item
                            article.n-card
                                figure.n-card__image
                                    img.n-card__image-img(src="./img/card-image-2.png", alt="")
                                h6.n-card__title СРКеу
                                p.n-card__desc Ключ к умной печати
                        li.n-about-us__bottom-list-item
                            article.n-card
                                figure.n-card__image
                                    img.n-card__image-img(src="./img/mid.png", alt="")
                                h6.n-card__title ERP СВА
                                p.n-card__desc Ассистент для разумного бизнеса
                    
                    h3.section-title.n-about-us__block.n-about-us__block--bottom--2 Постоянное развитие Clever bros. на базе технологий
                    
                    .n-about-us__mid-row
                        .n-about-us__mid-image.n-about-us__mid-image--hidden
                        ul.n-about-us__mid-list
                            li.n-about-us__mid-item
                                |Технология – главный элемент и фактор нашей Фирмы
                            li.n-about-us__mid-item
                                |Вся наша работа опирается на технологии
                            li.n-about-us__mid-item
                                |Постоянное совершенствование, развитие, как отражение Clever.  
                    
                    .slogan.n-about-us__block.n-about-us__block.n-about-us__block--bottom--3
                        p.slogan__text Благодаря технологии нам удается оказывать сервис экономично и экологично
                        figure.slogan__image
                            img.slogan__img(src="./img/mark.svg", alt="")

                    h2.n-about-us__title.n-about-us__block.n-about-us__block--bottom--4 Экологично

                    h3.section-title.n-about-us__block.n-about-us__block--bottom--5 20 лет бережного отношения к экологии
                    
                    ol.n-about-us__points.n-about-us__block.n-about-us__block--bottom--6
                        li.n-about-us__points-item
                            |Мы восстановили сотни тысяч картриджей
                        li.n-about-us__points-item
                            |Мы отремонтировали десятки тысяч принтеров
                        li.n-about-us__points-item
                            |Мы стараемся использовать по максимуму все, что еще способно работать
                        li.n-about-us__points-item
                            |Мы не выбрасываем то,
                            br
                            |что можно переработать
                        li.n-about-us__points-item
                            |Сданы в переработку тонны металла, пластика, бумаги
                        li.n-about-us__points-item
                            |На множестве площадок online и offline, на наших сайтах и в социальных сетях, на радио, телевидении и в прессе. Мы не смолкаем!
                        li.n-about-us__points-item
                            |Последние 15 лет мы противостоим всей своей энергией совместимым некачественным картриджам, наносящим непоправимый вред экологии

                    .n-about-us__steps
                        .n-about-us__steps-wrapper
                            .n-about-us__steps-container
                                h3.n-about-us__steps-title Мыслить экологично:
                                ul.n-about-us__steps-list
                                    li.n-about-us__steps-item
                                        figure.n-about-us__steps-image
                                            img.n-about-us__steps-img(src="./img/step-1.svg", alt="")
                                        p.n-about-us__steps-desc
                                            |Мы собираем макулатуру в офисе
                                    li.n-about-us__steps-item
                                        figure.n-about-us__steps-image
                                            img.n-about-us__steps-img(src="./img/step-2.svg", alt="")
                                        p.n-about-us__steps-desc
                                            |Мы практически отказались от всего одноразового пластика
                                    li.n-about-us__steps-item.steps-mrg
                                        figure.n-about-us__steps-image
                                            img.n-about-us__steps-img(src="./img/step-3.svg", alt="")
                                        p.n-about-us__steps-desc
                                            |Мы собираем крышки и участвуем в различных акциях
                                    li.n-about-us__steps-item
                                        figure.n-about-us__steps-image
                                            img.n-about-us__steps-img(src="./img/step-4.svg", alt="")
                                        p.n-about-us__steps-desc
                                            |Мы сажаем деревья
                                    li.n-about-us__steps-item
                                        .n-about-us__steps-image-wrapper
                                            figure.n-about-us__steps-image.n-about-us__steps-image--double
                                                img.n-about-us__steps-img(src="./img/step-5.svg", alt="")
                                                img.n-about-us__steps-img.n-about-us__steps-img--double(src="./img/step-5.svg", alt="")
                                        p.n-about-us__steps-desc
                                            |У нас есть проект «Эко-контейнер для сбора отработанных картриджей» в Москве, Санкт-Петербурге и Ростове-на-Дону

                    .slogan.slogan--aside
                        p.slogan__text.slogan__text--aside Экологично — это про нас!
                        figure.slogan__image.slogan__image--aside
                            img.slogan__img(src="./img/mark.svg", alt="")

                    h2.n-about-us__title.n-about-us__block.n-about-us__block--bottom--7 Экономично

                    h3.section-title.n-about-us__block.n-about-us__block--bottom--8 «Экономичные» продукты Clever bros.
                   
                    ul.n-about-us__bottom-list.n-about-us__block.n-about-us__block--bottom--9
                        li.n-about-us__bottom-list-item
                            article.n-card.n-card--control
                                .n-card__photo-wrapper
                                    figure.n-card__photo
                                        img.n-card__photo-img(src="./img/card-1.jpg", alt="")
                                h6.n-card__title Восстановление картриджей
                                p.n-card__desc Позволяет экономить на картриджах до 90% денег без потери на качестве
                                a.n-card__control(href="#")
                                    img(src="./img/control.svg")
                        li.n-about-us__bottom-list-item
                            article.n-card.n-card--control
                                .n-card__photo-wrapper
                                    figure.n-card__photo
                                        img.n-card__photo-img(src="./img/card-2.jpg", alt="")
                                h6.n-card__title Техническое обслуживание
                                p.n-card__desc Минимизирует инцидентные дорогостоящие ремонты
                                a.n-card__control(href="#")
                                    img(src="./img/control.svg")
                        li.n-about-us__bottom-list-item
                            article.n-card.n-card--control
                                .n-card__photo-wrapper
                                    figure.n-card__photo
                                        img.n-card__photo-img(src="./img/card-3.jpg", alt="")
                                h6.n-card__title Ремонт печатающей техники
                                p.n-card__desc Продлевает её жизнь
                                a.n-card__control(href="#")
                                    img(src="./img/control.svg")
                        li.n-about-us__bottom-list-item
                            article.n-card.n-card--control
                                .n-card__photo-wrapper
                                    figure.n-card__photo
                                        img.n-card__photo-img(src="./img/card-4.jpg", alt="")
                                h6.n-card__title Покопийная печать
                                p.n-card__desc Позволяет грамотно учитывать затраты в себестоимости собственных продуктов
                                a.n-card__control(href="#")
                                    img(src="./img/control.svg")
                        li.n-about-us__bottom-list-item
                            article.n-card.n-card--control
                                .n-card__photo-wrapper
                                    figure.n-card__photo
                                        img.n-card__photo-img(src="./img/card-5.jpg", alt="")
                                h6.n-card__title ИТ–аутсорсинг
                                p.n-card__desc Позволяет передать нам непрофильные задачи и получить качественную услугу
                                a.n-card__control(href="#")
                                    img(src="./img/control.svg")
                        li.n-about-us__bottom-list-item
                            article.n-card.n-card--control
                                .n-card__photo-wrapper
                                    figure.n-card__photo
                                        img.n-card__photo-img(src="./img/card-6.jpg", alt="")
                                h6.n-card__title Консалтинг
                                p.n-card__desc Мы подбираем наиболее оптимальные решения для бизнеса
                                a.n-card__control(href="#")
                                    img(src="./img/control.svg")
                        li.n-about-us__bottom-list-item
                            article.n-card.n-card--control
                                figure.n-card__image
                                    img.n-card__image-img(src="./img/card-image-1.png", alt="")
                                h6.n-card__title CleverPrint
                                p.n-card__desc Экономит на каждой копии время и ресурсы заказчика с момента обращения к нам
                                a.n-card__control(href="#")
                                    img(src="./img/control.svg")
                        li.n-about-us__bottom-list-item
                            article.n-card.n-card--control
                                figure.n-card__image
                                    img.n-card__image-img(src="./img/card-image-2.png", alt="")
                                h6.n-card__title СРКеу
                                p.n-card__desc Позволяет управлять затратами на печать
                                a.n-card__control(href="#")
                                    img(src="./img/control.svg")
                        li.n-about-us__bottom-list-item
                            article.n-card.n-card--control
                                figure.n-card__image
                                    img.n-card__image-img(src="./img/mid.png", alt="")
                                h6.n-card__title ERP Clever Bros. Assistant
                                p.n-card__desc Автоматизирует процессы, что стоит во главе угла любой экономии
                                a.n-card__control(href="#")
                                    img(src="./img/control.svg")

                    .n-about-us__bottom-row.n-about-us__block.n-about-us__block--bottom--10
                        h2.n-about-us__title.n-about-us__title--bottom 20 лет мы — часть успеха наших клиентов
                        p.n-about-us__bottom-text Теперь клиентам для успеха нужно немного  — быть нашим партнером!


